
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 1em auto;
    background-color: rgb(42, 26, 56);
    color: rgb(236, 220, 255);
    width: 800px;
}

.the-meat {
    padding: 20px 40px;
    border-radius: 3px;
    background-color: rgb(70, 49, 88);
    margin: auto;
}

.title {
    text-align: center;
    margin: auto;
}

code, .equation {
    font-family: 'Courier New', Courier, monospace;
}

p code {
    font-size: medium;
}

.description blockquote {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: large;
}

.warning-div {
    padding: 0;
    height: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    display: flex;
    flex: auto;
    align-items: center;
    gap: 8px;
}

.warning-div .size-warning {
    height: 100%;
    font-size: small;
    text-align: right;
    margin-left: auto;
    color:orange;
}

.form  {
    border-color: rgb(236, 220, 255);
    border-style: double; 
    border-radius: 3px;
    border-width: 6px;
    padding: 20px;
    margin: 0 auto;
    width: 500px;
}

.form input, textarea {
    background-color: rgb(212, 194, 255);
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(21, 16, 32);
    font-weight: 1000;
}

.form code {
    font-size: large;
}

.input-row {
    display: flex;
    flex: auto;
    align-items: center;
    gap: 8px;

}

.input-row input {
    width: 30px; 
}

.fields {
    display: flex;
    flex: auto;
    gap: 8px
}

.buttons {
    margin-left: auto;
}

.input-row button {
    padding-top: 1px;
    padding-bottom: 1px;
    width: 50px;
    cursor: pointer;
    background-color: rgb(192, 164, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.output-row textarea {
    width: calc(100% - 4px);
    height: 200px;
    overflow-wrap: anywhere;
    word-break: break-all;
    resize: none;
}

.constraints {
    margin-top: -4px;
    padding-bottom: 5px;
}

.constraints code {
    font-size: small;   
}

.divisor-constraints {
    padding-left: 89px;
}

.remainder-constraints {
    padding-left: 13px;
}

.base-constraints {
    padding-left: 54px;
}

.empty-string-disclaimer {
    padding-top: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: small
}

a:link {
  color: rgb(68, 180, 255);
}

/* Visited link */
a:visited {
  color: rgb(255, 0, 255);
}

.diagram {
    max-height: 300px;
    max-width: 100%;
    display: block;
    margin: auto;
}